<h1>all posts here</h1>
<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <div class="card">
            <h2 class="card-title">{{title}}</h2>
            <h5 class="card-title">{{body}}</h5>
            <p class="card-text"> {{user.username}}
            <div class="meta">
                <a href="/post/{{id}}">{{comments.length}}</a>
            </div>
            </p>
        </div>

    </li>
    {{/each}}
</ol>